{% extends 'base.html' %}

{% block title %}Predict - Iris Classifier{% endblock %}

{% block content %}
<h2>Try the Iris Classifier</h2>
<form method="POST">
    <label>
        Sepal Length:
        <input type="text" name="feature1" required>
        <small>(Range: 4.3 – 7.9 cm)</small>
    </label><br>
    <label>
        Sepal Width:
        <input type="text" name="feature2" required>
        <small>(Range: 2.0 – 4.4 cm)</small>
    </label><br>
    <label>
        Petal Length:
        <input type="text" name="feature3" required>
        <small>(Range: 1.0 – 6.9 cm)</small>
    </label><br>
    <label>
        Petal Width:
        <input type="text" name="feature4" required>
        <small>(Range: 0.1 – 2.5 cm)</small>
    </label><br>

    <button type="submit">Predict</button>
</form>


{% if prediction %}
    <h3>Prediction: {{ prediction }}</h3>
    <p>Input features: {{ features }}</p>
{% endif %}
{% endblock %}